<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/house">Houses</a>
    <a class="nav-item nav-link" routerLink="/flat">Flats</a>
    <a class="nav-item nav-link" routerLink="/tenant">Tenants</a>
    <a *ngIf="currentUser" style="cursor: pointer;" class="nav-item nav-link" (click)="logout()">Logout</a>
    <a *ngIf="!currentUser" style="cursor: pointer;" class="nav-item nav-link" routerLink="/login">LogIn</a>
  </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>
