<div class="card mt-4">
  <h4 class="card-header text-center">BBIT House flats</h4>
  <div class="card-body">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 py-4">
          <div *ngIf="houseByIdLoading" class="spinner-border spinner-border-sm"></div>
          <div *ngIf="!houseByIdLoading" class="card">
            <div class="card-body">
              <h5 class="card-title">House details</h5>
              <p class="card-text mt-0 mb-0"><span class="font-weight-bold">House number:</span> {{house.houseNumber}}
              </p>
              <p class="card-text mt-0 mb-0"><span class="font-weight-bold">Street name:</span> {{house.streetName}}</p>
              <p class="card-text mt-0 mb-0"><span class="font-weight-bold">City:</span> {{house.city}}</p>
              <p class="card-text mt-0 mb-0"><span class="font-weight-bold">Country:</span> {{house.country}}</p>
              <p class="card-text mt-0 mb-0"><span class="font-weight-bold">Post code:</span> {{house.postCode}}</p>
            </div>
          </div>
          <div *ngIf="houseByIdError" class="alert alert-danger mt-3 mb-0">{{houseByIdError}}</div>
        </div>
        <div class="col-md-12 py-4">
          <table class="table table-striped">
            <thead>
            <tr>
              <th hidden scope="col"></th>
              <th scope="col">UpdateFlatRequest number</th>
              <th scope="col">Floor</th>
              <th scope="col">Amount Of Rooms</th>
              <th scope="col">Amount Of Tenants</th>
              <th scope="col">Total Area</th>
              <th scope="col">House Room</th>
            </tr>
            </thead>
            <tbody>
            <div *ngIf="houseFlatsLoading" class="spinner-border spinner-border-sm"></div>
            <tr *ngFor="let flat of flats">
              <td hidden>{{ flat.id }}</td>
              <td>{{ flat.flatNumber }}</td>
              <td>{{ flat.floor }}</td>
              <td>{{ flat.amountOfRooms }}</td>
              <td>{{ flat.amountOfTenants }}</td>
              <td>{{ flat.totalArea }}</td>
              <td>{{ flat.houseRoom }}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="houseFlatsError" class="alert alert-danger mt-3 mb-0">{{houseFlatsError}}</div>
      </div>
    </div>
  </div>
</div>
